/* src/App.css */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0a0a0a;
  color: white;
  font-family: "Poppins", sans-serif;
}

.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid rgba(139, 92, 246, 0.3);
  border-top-color: #8b5cf6;
  box-shadow: 0 0 20px #8b5cf6;
}

