@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --accent: 138,92,246; /* purple rgb for glows */
  --accent2: 59,130,246; /* blue rgb */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0a0a;
}

.font {
   font-family: 'Poppins', 'sans-serif'
}

.background {
  background-image: url(./assets/heroImg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-lower {
  background-image: url(./assets/heroImg.jpeg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.typewriter-caret {
  width: 2px;
  height: 1.05em;
  background: rgb(var(--accent));
  display: inline-block;
  margin-left: 6px;
  animation: blink 1s infinite;
}

.loading-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f11;
}

.ripple-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
}

.ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #8b5cf6;
  border-radius: 50%;
  opacity: 0;
}

