@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --accent: 59,130,246; /* purple rgb for glows */
  --accent2: 59,130,246; /* blue rgb */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0a0a;
}

.font {
   font-family: 'Poppins', 'sans-serif'
}

.background {
  background-image: url(https://res.cloudinary.com/dmg0ohw7r/image/upload/v1763368185/rsz_1heroimg_fmsx4r_xzme1w.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-lower {
  background-image: url(https://res.cloudinary.com/dmg0ohw7r/image/upload/v1763368185/rsz_1heroimg_fmsx4r_xzme1w.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.typewriter-caret {
  width: 2px;
  height: 1.05em;
  background: rgb(var(--accent));
  display: inline-block;
  margin-left: 6px;
  animation: blink 1s infinite;
}
